/node_modules
/public/hot
/public/vendor
/public/fonts/vendor
/public/storage
/public/css/*
/public/js/*
/public/mix-manifest.json
/storage/*.key
/storage/debugbar/
/config/customstatus.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
